@import "../../globals.scss";

.edit{
    padding: 20px;
    font-family: 'Roboto';
    color: white;
    background: url('https://img.freepik.com/free-vector/comic-style-wallpaper_79603-1248.jpg');
    background-size: 100%;
    @include mobile {
        background: url(none);
        background-color: black;
        gap: 30px;
     }
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .top{
            .ProfilePic{
                border-radius: 50%;
                margin-bottom: 70px;
                @include mobile {
                  height: 180px;
                  width: 180px;
                 }
            }
        }
        .bottom{
            display: flex;
            gap: 200px;
            @include mobile {
                flex-direction: column;
                gap: 20px;
               }
            .left{
                display: flex;
                flex-direction: column;
                gap: 30px;
                label {
                    font-weight: 500;
                    letter-spacing: 1px;
                }
                input{
                    height: 40px;
                    width: 200px;
                    padding-left: 5px;
                    border-radius: 5px;
                    border: 1px solid lightgray;
                }
            }
            .right{
                display: flex;
                flex-direction: column;
                gap: 30px;
                label {
                    font-weight: 500;
                    letter-spacing: 1px;
                }
                input{
                    height: 40px;
                    width: 200px;
                    padding-left: 5px;
                    border-radius: 5px;
                    border: 1px solid lightgray;
                }
            }
        }
    }
    .buttonContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        gap: 20px;
        button {
            padding: 10px;
            width: 150px;
            border-radius: 5px;
            border: none;
            color: white;
            cursor: pointer;

            &:first-child{
                background-color: green;
                padding: 10px;
                width: 150px;
                border-radius: 20px;
                border: none;
                color: white;
                font-family: 'Roboto';
                letter-spacing: 1px;
                align-self: center;
                margin: 20px 0px;
                cursor: pointer;
            }
            &:last-child{
                background-color: red;
                padding: 10px;
                width: 150px;
                border-radius: 20px;
                border: none;
                color: white;
                font-family: 'Roboto';
                letter-spacing: 1px;
                align-self: center;
                margin: 20px 0px;
                cursor: pointer;
            }
        }
    }
}